.lg-title{
	display:inline-block;
}

.sm-title{
	display:none;
}

.subtitle{
	font-size:22px;
}

@media screen and (max-width: 1366px) {
	.lg-title{
		display:none;
	}

	.sm-title{
		display:inline-block;
	}

	.subtitle{
		font-size:16px;
	}
}
