{{ define "main" }}
    <main aria-role="main">
        <div>
		{{ range .Site.Params.customCSS }}
			<link rel="stylesheet" href="{{ $.Site.BaseURL }}{{ . }}">
		{{ end }}
			<div class="lg-title"><pre> 
		<!-- Logo built on patorjk.com with Delta Corps Priest 1 font-->
  ▄████████    ▄████████    ▄████████  ▄█  ███▄▄▄▄      ▄████████         ▄████████    ▄████████  ▄████████  ███    █▄     ▄████████  ▄█      ███     ▄██   ▄   
  ███    ███   ███    ███   ███    ███ ███  ███▀▀▀██▄   ███    ███        ███    ███   ███    ███ ███    ███ ███    ███   ███    ███ ███  ▀█████████▄ ███   ██▄ 
  ███    ███   ███    █▀    ███    █▀  ███▌ ███   ███   ███    █▀         ███    █▀    ███    █▀  ███    █▀  ███    ███   ███    ███ ███▌    ▀███▀▀██ ███▄▄▄███ 
  ███    ███  ▄███▄▄▄      ▄███▄▄▄     ███▌ ███   ███  ▄███▄▄▄            ███         ▄███▄▄▄     ███        ███    ███  ▄███▄▄▄▄██▀ ███▌     ███   ▀ ▀▀▀▀▀▀███ 
▀███████████ ▀▀███▀▀▀     ▀▀███▀▀▀     ███▌ ███   ███ ▀▀███▀▀▀          ▀███████████ ▀▀███▀▀▀     ███        ███    ███ ▀▀███▀▀▀▀▀   ███▌     ███     ▄██   ███ 
  ███    ███   ███          ███        ███  ███   ███   ███    █▄                ███   ███    █▄  ███    █▄  ███    ███ ▀███████████ ███      ███     ███   ███ 
  ███    ███   ███          ███        ███  ███   ███   ███    ███         ▄█    ███   ███    ███ ███    ███ ███    ███   ███    ███ ███      ███     ███   ███ 
  ███    █▀    ███          ███        █▀    ▀█   █▀    ██████████       ▄████████▀    ██████████ ████████▀  ████████▀    ███    ███ █▀      ▄████▀    ▀█████▀  
                                                                                                                     ███    ███                       
			</pre></div>
	        {{ if .Site.Params.Portrait.Path }}
               <img src="{{ .Site.Params.Portrait.Path }}" class="rounded" alt="{{ .Site.Params.Portrait.Alt }}" style="max-width:{{ .Site.Params.Portrait.MaxWidth }}" />
            {{ end }}
			<span class="sm-title">
				<h1>{{ .Site.Title }}</h1>
			</span>			
            {{- with .Site.Params.homeSubtitle }}
				<p class="subtitle">{{.}}</p>
            {{- end }}
            {{- with .Site.Params.social }}
                <div>
                    {{ partial "social-icons.html" . }}
                </div>
            {{- end }}
        </div>
    </main>
{{ end }}
